/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 20px 50px;
    color: white;
    border-bottom: 2px solid rgb(7, 196, 67);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(7, 196, 67);
}
